@import url(/style/regular.css);
.ctrl{
    overflow-x: scroll;
    overflow-y: hidden;
    .btns{
        margin: 5px 0px;
        width:max-content;
        .btn{
            font-size: 13px;
            padding:5px;
            background:rgb(0, 66, 189);
            color:white;
            border:1px rgba(0, 0, 0, 0.322) solid;
            border-radius: 4px;
            margin:5px 0px;
            cursor: pointer;
        }
        .spline{
            width:2px;
            height: 13px;
            border:1px solid rgba(0, 0, 0, 0.301);
            margin:0px 5px;
        }
    }
}
.editor{
    position: relative;
    border:1px rgba(0, 0, 0, 0.589) solid;
    padding:3px;
    border-radius: 6px;
    margin:10px 0px;
    box-shadow: 1px 2px 3px rgba(226, 194, 194, 0.11);
    height: calc(50vh - 90px);
    width: fill;
    // opacity: 0;
    resize: none;
    outline:none;
}
.preview{
    // position:absolute;
    overflow:scroll;
    border: 1px rgba(0, 0, 0, 0.356) solid;
    height: 50%;
    border-radius: 5px;
}

.selectedLine{
    pointer-events: none;
    position: absolute;
    left: 0px;
    right:0px;
    // border-radius: 6px;
    height: 13px;
    background:rgba(0, 0, 0, 0.178);
    top:30px;
}

.tips{
    font-size: 12px;
}

.post-title{
    outline:none;
    margin:4px 0px;
    width:calc(100% - 100px);
    display: inline;
}

.post-level{
    width:20px;
    float:right;
    margin:4px 0px;
    &::before{
        content:"权限:";
    }
}
