@import url(/style/regular.css);

html{
    overflow: hidden;
}


.header {
    height: 150px;
    width: 100vw;
    position: relative;
    background: linear-gradient(to top, rgb(0, 48, 94), rgb(0, 0, 0) 80%);

    .titles{
        position: relative;
        top:40px;
        left:110px;
        .title {
            padding: 19px 0;
            line-height: 0px;
            max-height: 0;
            font-weight: bold;
            font-size: 23px;
            color: #ffffff;
            text-shadow: 1px 1px 1px #00000044;
            font-family: verdana,arial,helvetica,sans-serif;
        }
    
        .subtitle {
            font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
            position: absolute;
            top:30px;
            padding: 19px 0;
            line-height: 0px;
            max-height: 0;
            font-weight: bold;
            color: #c0ddf0;
            text-shadow: 1px 1px 1px #00000044;
        }

        
    }

    .topbar{
        background: linear-gradient(rgb(83, 83, 83),rgb(59, 59, 59));
        box-shadow: 1px 1px 4px black;
        width:100vw;
        height:20px;
        position: absolute;
        bottom:0px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .topbtn{
            color:white;
            cursor: pointer;
            font-weight: 700;
            border-left:1px solid rgba(0, 0, 0, 0.452);
            border-right:1px solid rgba(0, 0, 0, 0.452);
            background: linear-gradient(rgb(85, 85, 85),rgb(44, 44, 44));
            padding:0px 10px;
            margin:0px 4px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.562);
        }
    }

    .icon{
        position: absolute;
        left: 20px;
        top: 40px;
        content: "";
        background: url(/static/avatar.webp);
        background-size: 66px 66px;
        width: 66px;
        height: 66px;
        opacity: 0.4;
        border-radius: 100%;
    }
}


.content{
    margin:20px;
    display: flex;
    justify-content:center;
    height:calc(100vh - 190px);
    iframe{
        max-width: 700px;
        width:100%;
        height: fill;
    }
}

#busuanzi_container_site_pv{
    color: rgba(255, 255, 255, 0.185);
    position: absolute;
    top:4px;
    left:5px;
}