@import url(/style/regular.css);

.posts{
    .post{
        .post-title{
            font-size: 20px;
            font-weight: 800;
            display: block;
        }
        padding:10px;
        border: 1px solid rgba(0, 0, 0, 0.466);
        margin:10px;
    }
}